/* Typography */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800);

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
}

h1, h2 {
	font-weight: 800;
}

h3, h4, h5, h6 {
	font-weight: 300;
}

header menu a {
	font-size: 17px;
	font-weight: bold;
}

section header .subheader {
	margin-top: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
}

/* Layout */

header menu {
	line-height: 30px;
	padding: 0;
	margin: 27px 0 0 0;
}