/* Typography */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800);

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
}

h1, h2 {
	font-weight: 800;
}

h3, h4, h5, h6 {
	font-weight: 300;
}

header menu a {
	font-size: 17px;
	font-weight: bold;
}

section header .subheader {
	margin-top: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
	text-decoration: none;
}

section header menu {
	list-style: decimal;
}

section header menu a {
	font-size: 14px;
	line-height: 21px;
}

dl dt {
	font-weight: bold;
}

code {
	font-size: 0.9em;
	line-height: 1em;
	background: #EFEFEF;
	padding: 0 0.2em;
}

/* Layout */

header menu {
	line-height: 30px;
	padding: 0;
	margin: 27px 0 0 0;
}

menu li {
	/* Prevent menu elements from flowing together when browser is resized to minimum */
	padding-right: 10px;
}